build-and-deploy:
  stage: build
  image: casatir/basthon-kernel-deploy:0.75.3
  script:
    # fix for git-repo-info
    # see https://github.com/rwjblue/git-repo-info/issues/46
    - mv .git/objects/pack/pack*.pack . && git unpack-objects < $(ls pack*.pack)
    - corepack enable
    - corepack install
    - yarn install --immutable
    - yarn audit
    - yarn build
    - yarn archive
    - mv basthon-notebook.tgz build/
    - mkdir -p ~/.ssh/
    - mv $SSH_PRIVATE_KEY ~/.ssh/id_rsa
    - chmod a-r-w-x,u+r ~/.ssh/id_rsa
    - mv $SSH_CONFIG ~/.ssh/config
    - chmod a-r-w-x,u+r ~/.ssh/config
    - URL="basthon:sites_basthon/notebook"
    - DATE="$(date -Iseconds)"
    - rsync -avzP --delete build/ $URL/$DATE/
    - mv notebook notebook.moved
    - ln -s $DATE/ notebook
    - rsync -avzP notebook $URL/
